<div id="update-group" class="popup">
    <h2>Update Group</h2>
    <hr/>
    {{ form(form, { 
        'attr': { 
            'onSubmit':'updateGroup(event);',
            'data-id': id
        } 
    }) }}
</div>
